<form id="updateRecord">
    <div class="form-group">
        <input v-model="id" type="hidden" class="form-control">
        <input v-model="title" type="text" class="form-control"
            placeholder="Title">
        <textarea v-model="contents" class="form-control" rows="15"
            placeholder="Contents"></textarea>
        <div class="row">
            <div class="col-10">
                <button v-on:click="clear" type="button"
                    class="btn btn-primary">クリア</button>
                <button v-on:click="preview" type="button"
                    class="btn btn-primary">プレビュー</button>
                <button v-on:click="updateRecord" type="button"
                    class="btn btn-primary">保存</button>
            </div>
            <div class="col">
                <button v-on:click="deleteRecord" type="button"
                    class="btn btn-danger">削除</button>
            </div>
        </div>
    </div>
</form>
<? var table=parameters.findById(parameters.id);?>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	var updateRecord = new Vue({
		el : "#updateRecord",
		data : {
			baseUrl : null,
			id : null,
			title : null,
			contents : null
		},
		methods : {
			setStyleToTable : function() {
				var tables = document.getElementsByTagName("table");

				for (var i = 0; i < tables.length; i++) {
					tables[i].setAttribute("class", "table table-bordered");
				}

				var theads = document.getElementsByTagName("thead");

				for (var i = 0; i < theads.length; i++) {
					theads[i].setAttribute("class", "thead-dark");
				}
			},
			preview : function() {
				var htmlOutput = document.getElementById("output");
				htmlOutput.innerHTML = marked(this.contents, {
					sanitize : true
				});
				this.setStyleToTable();
			},
			clear : function() {
				this.title = null;
				this.contents = null;
				var htmlOutput = document.getElementById("output");
				htmlOutput.innerHTML = null;
			},
			moveToIndex : function() {
				window.alert("保存しました。");
				var anchor = document.createElement("a");
				anchor.setAttribute("href", this.baseUrl);
				anchor.click();
			},
			updateRecord : function() {
				google.script.run.withSuccessHandler(this.moveToIndex)
						.updateRecord(this.id, this.title, this.contents);
			},
			deleteRecord : function() {
				var anchor = document.createElement("a");
				anchor.setAttribute("href", this.baseUrl + "?page=delete&id="
						+ this.id);
				anchor.click();
			}
		}
	});

	updateRecord.baseUrl = "<?= parameters.baseUrl;?>";
	updateRecord.id = <?= parameters.id;?>;
	updateRecord.title = "<?= table[0][1];?>";
	updateRecord.contents = "<?= table[0][2];?>";
</script>